.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.row.header {
    border-bottom: 1px solid gray;
    padding-top: 10px;
}
.row.header > .row {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 730px;
}

h3.small-caps {
    font-variant: small-caps;
    font-size: 42px;
}

h4.small-caps{
    font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 5px;
}
ul {
    padding-left: 20px;
}