doctype html
html(lang="en")
  head
    title Resume - Chetan Tinguria
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    br
    br
    .container
      .row.header
        .col-xs-8.left-align
          h3.small-caps Chetan D Tinguria
          p Aiming a position where my creative, analytical, programming skills and knowledge is leveraged to solve complex enterprise problems.
        .col-xs-4.right-align
          p
            p (+91) 9959912897
            p chetan.tinguria@gmail.com
            p Hyderabad, IN
      .row.header
        .col-xs-12.left-align
          h4.small-caps Work Experience
      .row.header
        .row
          .col-xs-12.left-align
            strong Senior Software Developer - the MIX (Technogen Inc.)
            div 11/2016 - present
        .row
          .col-xs-12.left-align
            ul
              li
                span Offshore tech lead for the Reporting and data-flow technology platform.
              li
                span Upgrading the existing aging Reporting platform and other platforms for data-flow management.&nbsp;
                i NodeJS, ReactJS
              li
                span Involved in enhancing, maintaining and upgrading the existing Reports platform and Data Review applications.&nbsp;
                i NodeJS, BackboneJS, CouchDB, MySQL
        .row
          .col-xs-12.left-align
            strong Analyst I - BA Continuum India
            div 02/2013 - 11/2016
        .row
          .col-xs-12.left-align
            ul
              li
                span Involved in design and development of an enterprise solution, that uses latest front-end technologies to generate static HTML pages and a customizable client-side framework that runs in browser.&nbsp;
                i NodeJS, ReactJS
              li
                span Involved in designing and development of RESTful Web Services for integrating third party accounts as source account for utility bill payment in online account.&nbsp;
                i RESTful WS, Spring, Struts
              li
                span Involved in designing and development of RESTful Web Services for Mobile Wallet App, to support various functionalities of card life-cycle management.&nbsp;
                i RESTful WS, Spring, Struts
        .row
          .col-xs-12.left-align
            strong Software Engineer, Senior - JDA Software India
            div 08/2007 - 02/2013
        .row
          .col-xs-12.left-align
            ul
              li Involved in design, development and maintenance of product Collaborate &amp; Market Manager.
              li
                span Involved in various performance improvement for the product.&nbsp;
                i Java
              li
                span Implemented third party DHTMLx Grid, replacing old JSP tag based grid.&nbsp;
                i JavaScript, HTML, CSS
              li Involved in integrating the product with another product (Demand) and also developing related functionalities.
              li
                span Implemented Ajax technology into the product when it was in early stages of adoption.&nbsp;
                i JavaScript
      .row.header
        .col-xs-6.left-align
          h4.small-caps Skills
        .col-xs-6.left-align
          h4.small-caps Education
      .row.header
        .col-xs-6.left-align
          p
            span Java, JavaScript
            br
            span JEE, REST
            br
            span ExpressJS, ReactJS
            br
            span Maven, Webpack
            br
            span MySQL, MongoDB
            br
            span Git, Perforce
        .col-xs-6.left-align
          p
            strong PG Diploma in Advanced Computing
            br
            span Feb '07 - August '07
            br
            span CDAC-ACTS.
          p
            strong B. E. (Mechanical)
            br
            span August '02 - July '06
            br
            span RTM Nagpur University.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Trainings and Participation
      .row.header
        .col-xs-12.left-align
          ul
            li Sun Certified Java Programmer Exam (2009).
            li Second Prize, Technical Paper presentation (2005).
            li Technical paper on "Use of Ceramic materials in IC Engines" at Institution of Engineers (I), Nagpur Chapter, Nagpur.
