doctype html
html(lang="en")
  head
    title Resume - Chetan Tinguria
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    br
    br
    .container
      .row.header
        .col-xs-8.left-align
          h3.small-caps Chetan Tinguria
        .col-xs-4.right-align
          p.
            (+91) 9959912897
            chetan.tinguria@gmail.com
            https://ctinguria.dev<br>
            Hyderabad, IN
      .row.header
        .col-xs-12.left-align
          h4.small-caps Objective
      .row.header
        .col-xs-12.left-align.
          Seeking a position where I can leverage my creative, analytical and programming skills to solve complex problems leveraging my knowledge in Java stack towards design and development of Java based applications and an environment where creativity, enthusiasm and a sense of ownership are considered an asset.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Career Abstract
      .row.header
        .col-xs-12.left-align
          ul
            li A competent, self-motivated and quick-learner professional, with more than 12 years experience.
            li More than 8 years of experience in Java stack (Core Java, JEE, Struts, Spring, Hibernate).
            li More than 4 years experience in NodeJS stack (NodeJS, ExpressJS, ReactJS).
            li Adept in end-to-end development of software products from requirement analysis to system study, designing, coding, unit testing, debugging, documentation, implementation and maintenance.
            li Experience in developing Web Services using JAX-RS.
            li Experience in Data Structures &amp; Algorithms and their applications.
            li Excellent organizational skills, ability to prioritize workload and a hardworking team player.
            li An effective communicator with relationship management skills with the ability to relate to people at any level of business and management.
            li Adroit in providing effective resolution to customer queries related to product and improving relationships with the customer.
            li Experience working under Agile-Scrum methodology for project management for rapid delivery.   
      .row.header
        .col-xs-12.left-align
          h4.small-caps Skills
      .row.header
        .col-xs-12.left-align
          p.
            Java; JavaScript; SQL;<br>
            JEE; Spring; JAX-RS; NodeJS; ExpressJS; ReactJS<br>
            Apache Maven; Apache Ant;<br>
            Oracle; MongoDB; CouchDB<br>
            CVS; Perforce; Git;<br>
            Postman; SoapUI; Selenium;<br>
            JUnit; Mocha; Jest<br>
            Heroku; Now<br>
      .row.header
        .col-xs-12.left-align
          h4.small-caps Work Experience
      .row.header
        .row
          .col-xs-5.left-align
            strong Senior Software Engineer
            div 11/2016 - present
          .col-xs-7.right-align
            strong Microfinance Information Exchange (Technogen Inc.)
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            div Data Analysis &amp; Reporting Solutions
            ul
              li Offshore tech lead for the Reporting and data-flow technology platform.
              li Upgrading the existing aging Reporting platform and other platforms for data-flow management.
              li Involved in enhancing, maintaining and upgrading the existing Reports platform and Data Review applications.
              li <i>NodeJS, ReactJS, JWT, REST, MongoDB, Git</i>
        .row
          .col-xs-6.left-align
            strong Analyst I - Apps Prog
            div 02/2013 - 11/2016
          .col-xs-6.right-align
            strong Bank of America
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            div Static Page Assembler and Responsive Template Architecture, Experience Manager, Project Nickel -
            ul
              li Involved in creating new and maintaining existing user interface for <i>Experience Manager</i> product.
              li Implemented RESTful Web Services for integrating third party accounts as source account for utility bill payment in online account.
              li Implemented RESTful Web Services for Mobile App, to support various functionalities of card life-cycle management in a digital wallet.
              li Involved in designing of HLTS calculators e.g. Mortgage Payment calculator.
              li Involved in development of Credit Cards enhancements in agile mode.
              li <i>RESTful web services, Spring, Struts, Hibernate, GWT, NodeJS, Maven, Perforce</i>
        .row
          .col-xs-6.left-align
            strong Software Engineer, Senior
            div 08/2007 - 02/2013
          .col-xs-6.right-align
            strong JDA Software India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            div Collaborate &amp; Market Manager -
            ul
              li Implemented third party <i>DHTMLX</i> grid component into the product for faster loading times.
              li Recognized for single handedly implementing third party component into the product and the high quality work delivered.
              li Improved the performance of Derived component calculation by 33%.
              li Also, out of interest, took up implementing <i>AJAX</i> technology into the product.
              li Recognized for the initiative taken to implement AJAX into the product.
              li <i>Java, JavaScript, Oracle, Ant, CVS</i>
      .row.header
        .col-xs-12.left-align
          h4.small-caps Projects
      .row.header
        .col-xs-12.left-align
          ul
            li Investment Tracker App: Collects MF data, daily, from AMFI site. Also an API to get data into Google Sheets.<br><i>NodeJS, Heroku, mLab</i>
            li Document Management System: A system to automate the state and storage of various ISO audit documents.<br><i>MERN stack, react-jsonschema-form, vultr (hosting provider)</i>
            li Developed an extension for Google Chrome web browser that is handy to check stock prices.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Education
      .row.header
        .col-xs-12.left-align
          p Post Graduate Diploma in Advanced Computing; August 2007; C-DAC ACTS, Pune, MS.
          p B. E. (Mechanical Engineering); July 2006; Nagpur University, Nagpur, MS.