doctype html
html(lang="en")
  head
    title Resume - Chetan Tinguria
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    br
    br
    .container
      .row.header
        .col-xs-8.left-align
          h3.small-caps Chetan Tinguria
          p Aiming a position where my creative, analytical, programming skills and knowledge in Java is leveraged to solve complex enterprise problems.
        .col-xs-4.right-align
          p
            p (+91) 9959912897
            p chetan.tinguria@gmail.com
            p Hyderabad, IN
      .row.header
        .col-xs-12.left-align
          h4.small-caps Work Experience
      .row.header
        .row
          .col-xs-6.left-align
            strong Analyst I - Apps Prog
            div 02/2013 - present
          .col-xs-6.right-align
            strong BA Continuum India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            ul
              li.
                Involved in design and development of an enterprise solution, that uses latest front-end technologies to generate static HTML pages
                and a customizable client-side framework that runs in browser.<br>
                <i>NodeJS, Grunt</i>
              li.
                Involved in designing and development of RESTful Web Services for integrating third party accounts as source account for utility 
                bill payment in online account.<br>
                <i>RESTful WS, Spring, Struts.</i>
              li.
                Involved in designing and development of RESTful Web Services for Mobile Wallet App, to support various functionalities of 
                card life-cycle management.<br>
                <i>RESTful WS, Spring, Struts.</i>
        .row
          .col-xs-6.left-align
            strong Software Engineer, Senior
            div 08/2007 - 02/2103
          .col-xs-6.right-align
            strong JDA Software India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            ul
              li Involved in design, development and maintenance of product Collaborate &amp; Market Manager.
              li Involved in various performance improvement for the product.
              li Implemented third party DHTMLx Grid, replacing old JSP tag based grid.
              li Involved in integrating the product with another product (Demand) and also developing related functionalities.
              li Implemented Ajax technology into the product when it was in early stages of adoption.
      .row.header
        .col-xs-6.left-align
          h4.small-caps Skills
        .col-xs-6.left-align
          h4.small-caps Education
      .row.header
        .col-xs-6.left-align
          p.
            Java; JavaScript; SQL;<br>
            JEE; Struts 2; Spring; JAX-RS; NodeJS; ExpressJS<br>
            Apache Maven; Apache Ant; Grunt;<br>
            Oracle; MongoDB;<br>
            CVS; Perforce; Git;<br>
            JUnit; Mocha;
        .col-xs-6.left-align
          p.
            <strong>Post Graduate Diploma in Advanced Computing</strong><br>
            Feb '07 - August '07<br>
            Advanced Computing Training School, Pune, MS.
          p.
            <strong>B. E. (Mechanical Engineering)</strong><br>
            August '02 - July '06<br>
            RTM Nagpur University, Nagpur, MS.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Trainings and Participation
      .row.header
        .col-xs-12.left-align
          p.
            Google Chrome extension.<br>
            Developed extension for Google Chrome web browser to check stock prices.
          p.
            Sun Certified Java Programmer Exam.
          p.
            Second Prize, Technical Paper presentation (2005).<br>
            Technical paper on "Use of Ceramic materials in IC Engines" at Institution of Engineers (I), Nagpur Chapter, Nagpur.
