doctype html
html(lang="en")
  head
    title Resume - Chetan Tinguria
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    br
    br
    .container
      .row.header
        .col-xs-3.left-align
          p Flat # 302, Sai Balaji Elite, Sri Rama Nagar Colony, Kondapur. 500084
        .col-xs-6.center-align
          h3.small-caps Chetan D. Tinguria
        .col-xs-3.right-align
          p
            div (+91) 9959912897
            div chetan.tinguria@gmail.com
      .row.header
        .col-xs-12.left-align
          h4.small-caps Objective
      .row.header
        .col-xs-12.left-align.
          Seeking a position where I can leverage my creative, analytical and programming skills to solve complex problems leveraging my knowledge in Java stack towards design and development of Java based applications and an environment where creativity, enthusiasm and a sense of ownership are considered an asset.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Career Abstract
      .row.header
        .col-xs-12.left-align
          ul
            li.
              A competent, self-motivated and quick-learner professional with more than 8 years of experience in Java stack (Core Java, JEE, Struts, Spring) with experience also in NodeJS stack (NodeJS, ExpressJS, Grunt, Bower).
            li.
              Adept in end-to-end development of software products from requirement analysis to system study, designing, coding, unit testing, debugging, documentation, implementation and maintenance.
            li.
              Gained expertise in Data structures and Algorithms.
            li.
              Excellent organizational skills, ability to prioritize workload and hardworking team player.
            li.
              An e ective communicator with relationship management skills with the ability to relate to people at any level of business and management.
            li.
              Adroit in providing e ective resolution to customer queries related to product and improving relationships with the customer.
            li.
              Experience working under Agile-Scrum methodology for project management for rapid delivery.   
      .row.header
        .col-xs-12.left-align
          h4.small-caps Work Experience
      .row.header
        .row
          .col-xs-4.left-align
            strong Analyst I - Apps Prog
          .col-xs-4.center-align
            strong BA Continuum India
            div Subsidiary of <strong> Bank of America </strong>
          .col-xs-4.right-align
            div February'13 - till date
        .row
          .col-xs-12.left-align
            div SPARTA (Static Page Assembler and Responsive Template Architecture) -
            ul
              li.
                An Enterprise Solution that uses the latest front-end technologies to generate static HTML pages and a customizable client-side framework that runs in browser.
              li.
                Its an Enterprise Solution that technology/business partners use to assemble and manage web pages.
              li.
                NodeJS based stack utilizing Grunt task runner.
        .row
          .col-xs-12.left-align
            div XMAN (eXperience MANager) -
            ul
              li.
                An Enterprise Solution that technology/business partners use to assemble and manage web pages.
              li.
                Involved in creating new and maintaining existing user interface for XMAN product.
              li.
                The solution is based on GWT.
        .row
          .col-xs-12.left-align
            div Billpay Migration -
            ul
              li.
                Involved in designing and development of RESTful Web Services for integrating third party accounts as source account for utility bill payment in online account.
              li.
                RESTful web services, Spring, Struts
        .row
          .col-xs-12.left-align
            div Project Nickel -
            ul
              li.
                Involved in designing and development of RESTful Web Services for Mobile Download-able App (MDA), to support various functionalities of card life-cycle management in a digital wallet.
              li.
                RESTful web services, Spring, Struts
        .row
          .col-xs-12.left-align
            div DOTCOM AppDev -
            ul
              li.
                Involved in designing of HLTS calculators e.g. Mortgage Payment calculator.
              li.
                Involved in development of Credit Cards enhancements in agile mode.
              li.
                Spring, Struts, Hibernate
        .row
          .col-xs-4.left-align
            strong Analyst I - Apps Prog
          .col-xs-4.center-align
            strong BA Continuum India
            div Subsidiary of <strong> Bank of America </strong>
          .col-xs-4.right-align
            div February'13 - till date
        .row
          .col-xs-12.left-align
            ul
              li.
                Involved in design and development of an enterprise solution, that uses latest front-end technologies to generate static HTML pages
                and a customizable client-side framework that runs in browser.<br>
                <i>NodeJS, Grunt, MongoDB.</i>
              li.
                Involved in designing and development of RESTful Web Services for integrating third party accounts as source account for utility 
                bill payment in online account.<br>
                <i>RESTful WS, Spring, Struts.</i>
              li.
                Involved in designing and development of RESTful Web Services for Mobile Wallet App, to support various functionalities of 
                card life-cycle management.<br>
                <i>RESTful WS, Spring, Struts.</i>
        .row
          .col-xs-6.left-align
            strong Software Engineer, Senior
            div 08/2007 - 02/2103
          .col-xs-6.right-align
            strong JDA Software India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            ul
              li Involved in design, development and maintenance of product Collaborate &amp; Market Manager.
              li Involved in various performance improvement for the product.
              li Implemented third party DHTMLx Grid, replacing old JSP tag based grid.
              li Involved in integrating the product with another product (Demand) and also developing related functionalities.
              li Implemented Ajax technology into the product when it was in early stages of adoption.
      .row.header
        .col-xs-6.left-align
          h4.small-caps Skills
        .col-xs-6.left-align
          h4.small-caps Education
      .row.header
        .col-xs-6.left-align
          p.
            Java; JavaScript; SQL;<br>
            JEE; Struts 2; Spring; JAX-RS; NodeJS; ExpressJS<br>
            Apache Maven; Apache Ant; Grunt;<br>
            Oracle; MongoDB;<br>
            CVS; Perforce; Git;<br>
            JUnit; Mocha;
        .col-xs-6.left-align
          p.
            <strong>Post Graduate Diploma in Advanced Computing</strong><br>
            Feb '07 - August '07<br>
            Advanced Computing Training School, Pune, MS.
          p.
            <strong>B. E. (Mechanical Engineering)</strong><br>
            August '02 - July '06<br>
            RTM Nagpur University, Nagpur, MS.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Trainings and Participation
      .row.header
        .col-xs-12.left-align
          p.
            Google Chrome extension.<br>
            Developed extension for Google Chrome web browser to check stock prices.
          p.
            Sun Certified Java Programmer Exam.
          p.
            Second Prize, Technical Paper presentation (2005).<br>
            Technical paper on "Use of Ceramic materials in IC Engines" at Institution of Engineers (I), Nagpur Chapter, Nagpur.
