doctype html
html(lang="en")
  head
    title Resume - Chetan Tinguria
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/app.css")
  body
    br
    br
    .container
      .row.header
        .col-xs-8.left-align
          h3.small-caps Chetan D. Tinguria
        .col-xs-4.right-align
          p (+91) 9959912897
          p chetan.tinguria@gmail.com
      .row.header
        .col-xs-12.left-align
          h4.small-caps Objective
      .row.header
        .col-xs-12.left-align.
          Seeking a position where I can leverage my creative, analytical and programming skills to solve complex problems leveraging my knowledge in Java stack towards design and development of Java based applications and an environment where creativity, enthusiasm and a sense of ownership are considered an asset.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Career Abstract
      .row.header
        .col-xs-12.left-align
          ul
            li.
              A competent, self-motivated and quick-learner professional with more than 8 years of experience in Java stack (Core Java, JEE, Struts, Spring) with experience also in NodeJS stack (NodeJS, ExpressJS, Grunt, Bower).
            li.
              Adept in end-to-end development of software products from requirement analysis to system study, designing, coding, unit testing, debugging, documentation, implementation and maintenance.
            li.
              Experience in developing Web Services using JAX-RS.
            li.
              Gained expertise in Data Structures and Algorithms.
            li.
              Excellent organizational skills, ability to prioritize workload and hardworking team player.
            li.
              An effective communicator with relationship management skills with the ability to relate to people at any level of business and management.
            li.
              Adroit in providing effective resolution to customer queries related to product and improving relationships with the customer.
            li.
              Experience working under Agile-Scrum methodology for project management for rapid delivery.   
      .row.header
        .col-xs-12.left-align
          h4.small-caps Work Experience
      .row.header
        .row
          .col-xs-6.left-align
            strong Analyst I - Apps Prog
            div 02/2013 - present
          .col-xs-6.right-align
            strong BA Continuum India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            div SPARTA (Static Page Assembler and Responsive Template Architecture) -
            ul
              li.
                An Enterprise Solution that uses the latest front-end technologies to generate static HTML pages and a customizable client-side framework that runs in browser.
              li.
                Its an Enterprise Solution that technology/business partners use to assemble and manage web pages.
              li.
                NodeJS based stack utilizing Grunt task runner.
        .row
          .col-xs-12.left-align
            div XMAN (eXperience MANager) -
            ul
              li.
                An Enterprise Solution that technology/business partners use to assemble and manage web pages.
              li.
                Involved in creating new and maintaining existing user interface for XMAN product.
              li.
                The solution is based on GWT.
        .row
          .col-xs-12.left-align
            div Billpay Migration -
            ul
              li.
                Involved in designing and development of RESTful Web Services for integrating third party accounts as source account for utility bill payment in online account.
              li.
                RESTful web services, Spring, Struts
        .row
          .col-xs-12.left-align
            div Project Nickel -
            ul
              li.
                Involved in designing and development of RESTful Web Services for Mobile Download-able App (MDA), to support various functionalities of card life-cycle management in a digital wallet.
              li.
                RESTful web services, Spring, Struts
        .row
          .col-xs-12.left-align
            div DOTCOM AppDev -
            ul
              li.
                Involved in designing of HLTS calculators e.g. Mortgage Payment calculator.
              li.
                Involved in development of Credit Cards enhancements in agile mode.
              li.
                Spring, Struts, Hibernate
        .row
          .col-xs-6.left-align
            strong Software Engineer, Senior
            div 08/2007 - 02/2013
          .col-xs-6.right-align
            strong JDA Software India
            div Hyderabad, IN
        .row
          .col-xs-12.left-align
            div Collaborate &amp; Market Manager v7.8.0.0 -
            ul
              li Involved in integrating the product with another product (Demand) and also developing related functionalities.
              li The forecasting data generated through Demand product is made available to Collaborate for easy sharing with supply chain partners.
        .row
          .col-xs-12.left-align
            div Collaborate &amp; Market Manager v7.7.1.0 -
            ul
              li Implemented third party DHTMLX grid component into the product for faster loading times.
              li Recognized for single handedly implementing third party component into the product and the high quality work delivered.
        .row
          .col-xs-12.left-align
            div Collaborate &amp; Market Manager v7.6.0.0 -
            ul
              li Involved in developing major functionalities for the product.
              li Improved the performance of Derived component calculation as part of client issue.
              li Also, out of interest, took up implementing AJAX technology into the product.
              li Recognized for the initiative taken to implement AJAX into the product.
        .row
          .col-xs-12.left-align
            div Collaborate &amp; Market Manager v7.4.2.0 -
            ul
              li Involved in bug  xing and understanding the functionality.
              li Recognized for ability to quickly understand the project both technically and functionally as well as for the ability to quickly get acquainted with all the processes involved.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Skills
      .row.header
        .col-xs-12.left-align
          p.
            Java; JavaScript; SQL;<br>
            JEE; Struts 2; Spring; JAX-RS; NodeJS; ExpressJS;<br>
            Apache Tomcat; Weblogic; Websphere;<br>
            Eclipse; IntelliJ;<br>
            Apache Maven; Apache Ant; Grunt;<br>
            Oracle; MongoDB;<br>
            CVS; Perforce; Git;<br>
            SoapUI; Selenium;<br>
            JUnit; Mocha;<br>
            Windows; Linux;<br>
      .row.header
        .col-xs-12.left-align
          h4.small-caps Education
      .row.header
        .col-xs-6.left-align
          p.
            <strong>Post Graduate Diploma in Advanced Computing</strong><br>
            Feb '07 - August '07<br>
            Advanced Computing Training School, Pune, MS.
          p.
            <strong>B. E. (Mechanical Engineering)</strong><br>
            August '02 - July '06<br>
            RTM Nagpur University, Nagpur, MS.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Technical Experience
      .row.header
        .col-xs-12.left-align
          p.
            <strong>Check Stock Prices</strong> (2009) -
            An extension for Google Chrome browser, where user can quickly check the current prices for each of stocks. HTML, JavaScript.
          p.
            <strong>Desing of Shaft</strong> (2004) -
            An algorithm that calculates different types of forces (like Bending Moments, Support Reactions) generated by various elements (like Gears, Pulleys, etc.) placed on the shaft. C.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Trainings and Participation
      .row.header
        .col-xs-12.left-align
          ul
            li.
              <strong>Developed</strong> an extension for Google Chrome web browser that is handy to check stock prices.
            li.
              Cleared Sun Certified Java Programmer Exam.
            li.
              <strong>Published</strong> a technical paper titled "Substitution of Furnace Oil in non-ferrous melting furnaces by using Producer gas" at PCEA-IFToMM international conference.
            li.
              <strong>Second Prize, Technical Paper Presentation:</strong> Awarded 2nd prize for presenting a technical paper on "Use of Ceramic materials in IC Engines" at Institution of Engineers (I), Nagpur Chapter, Nagpur.
            li.
              Participated in "On the spot software development competition" at CORONA.
            li.
              Undergone 15 days of training at Mahindra and Mahindra plant, MIDC Nagpur.
      .row.header
        .col-xs-12.left-align
          h4.small-caps Personal Profile
      .row.header
        .col-xs-12.left-align
          p Date of Birth: 11th October 1984
          p Nationality: Indian
          p Languages Known: English, Hindi and Marathi
          p References: Available on request